Repository Skro11-ru/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --check --color, npx stylelint --color, npx eslint --color

feat: change file extensions js to ts
  src/modules/profile/components/profile-avatar/profile-avatar.ts
  src/modules/profile/components/profile-row/profile-row.ts
  src/modules/profile/view/profile-edit-password/profile-edit-password.ts
  src/modules/profile/view/profile-edit/profile-edit.js
  src/modules/profile/view/profile-edit/profile-edit.ts
  src/modules/profile/view/profile/profile.ts
  src/modules/ui-kit/button-ui/button-ui.ts
  src/modules/ui-kit/input-ui/input-ui.ts
  src/modules/ui-kit/plug/404/404.ts
  src/modules/ui-kit/plug/500/500.ts
  src/modules/ui-kit/plug/plug.ts
  src/typings/hbs.d.ts
  src/typings/runtime.d.ts
Due: npx prettier --check --color, npx eslint --color

feat: change file extensions js to ts and refactor the components by inheriting from the Block class
  src/modules/Login/view/Login.scss
  src/modules/Registration/view/Registration.scss
  src/modules/UiKit/Button/Button.scss
  src/modules/UiKit/Button/Button.ts
  src/modules/UiKit/Input/Input.scss
  src/modules/UiKit/Input/Input.ts
  src/modules/ui-kit/button-ui/button-ui.ts
  src/modules/ui-kit/input-ui/input-ui.ts
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

feat: change file extensions js to ts and refactor ProfileAvatar by inheriting from the Block class
  src/modules/profile/components/ProfileAvatar/ProfileAvatar.hbs
  src/modules/profile/components/ProfileAvatar/ProfileAvatar.scss
  src/modules/profile/components/ProfileAvatar/ProfileAvatar.ts
  src/modules/profile/components/profile-avatar/profile-avatar.ts
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

feat: change file extensions js to ts and refactor 404 and 500 by inheriting from the Block class
  src/modules/UiKit/plug/404/404.hbs
  src/modules/UiKit/plug/404/404.scss
  src/modules/UiKit/plug/404/404.ts
  src/modules/UiKit/plug/500/500.hbs
  src/modules/UiKit/plug/500/500.scss
  src/modules/UiKit/plug/500/500.ts
  src/modules/ui-kit/plug/404/404.hbs
  src/modules/ui-kit/plug/404/404.ts
  src/modules/ui-kit/plug/500/500.hbs
  src/modules/ui-kit/plug/500/500.ts
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

feat: change file extensions js to ts and refactor components by inheriting from the Block class
  src/modules/profile/components/ProfileRow/ProfileRow.hbs
  src/modules/profile/view/profile/profile.hbs
  src/modules/profile/view/profile/profile.scss
  src/modules/profile/view/profile/profile.ts
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

refactor: refactor components
  pnpm-lock.yaml
  src/assets/styles/mixins.scss
  src/modules/Chat/components/ChatItem/ChatItem.hbs
  src/modules/Chat/components/ChatItem/ChatItem.scss
  src/modules/Chat/components/ChatItem/ChatItem.ts
  src/modules/Chat/view/Chat.hbs
  src/modules/Chat/view/Chat.ts
  src/modules/Chat/view/Chats.scss
  src/modules/Login/view/Login.scss
  src/modules/Registration/view/Registration.scss
  src/modules/UiKit/Button/Button.ts
  src/modules/UiKit/Input/Input.hbs
  src/modules/UiKit/Input/Input.scss
  src/modules/UiKit/Input/Input.ts
  static/icons/icon-search.svg
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

fix: fix folder name
  main.js
  src/modules/Profile/components/ProfileAvatar/ProfileAvatar.hbs
  src/modules/Profile/components/ProfileAvatar/ProfileAvatar.scss
  src/modules/Profile/components/ProfileAvatar/ProfileAvatar.ts
  src/modules/Profile/components/ProfileRow/ProfileRow.hbs
  src/modules/Profile/components/ProfileRow/ProfileRow.scss
  src/modules/Profile/components/ProfileRow/ProfileRow.ts
  src/modules/Profile/components/ProfileSidebar/ProfileSidebar.hbs
  src/modules/Profile/components/ProfileSidebar/ProfileSidebar.scss
  src/modules/Profile/components/ProfileSidebar/ProfileSidebar.ts
  src/modules/Profile/view/ProfileEdit/ProfileEdit.hbs
  src/modules/Profile/view/ProfileEdit/ProfileEdit.ts
  src/modules/Profile/view/profile-edit-password/profile-edit-password.hbs
  src/modules/Profile/view/profile-edit-password/profile-edit-password.ts
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

fix: fix deployment
  main.js
Due: npx prettier --check --color, npx eslint --color

refactor: component refactoring
  main.js
  pnpm-lock.yaml
  src/helpers/validation.ts
  src/modules/Chat/view/Chat.hbs
  src/modules/Chat/view/Chat.ts
  src/modules/Chat/view/Chats.scss
  src/modules/Profile/components/ProfileRow/ProfileRow.hbs
  src/modules/Profile/components/ProfileRow/ProfileRow.scss
  src/modules/Profile/components/ProfileRow/ProfileRow.ts
  src/modules/Profile/view/ProfileEdit/ProfileEdit.hbs
  src/modules/Profile/view/ProfileEdit/ProfileEdit.ts
  src/modules/Profile/view/ProfileEditPassword/ProfileEditPassword.hbs
  src/modules/Profile/view/ProfileEditPassword/ProfileEditPassword.ts
  src/modules/Profile/view/profile-edit-password/profile-edit-password.hbs
  src/modules/Profile/view/profile-edit-password/profile-edit-password.ts
  src/modules/UiKit/Input/Input.scss
  src/modules/UiKit/plug/plug.hbs
  src/modules/profile/view/profile/profile.ts
  static/icons/icon-attach.svg
  static/icons/icon-send.svg
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

refactor: type the code
  .eslintrc.json
  src/helpers/EventBus.ts
  src/helpers/block.ts
  src/helpers/validation.ts
Due: npx prettier --check --color, npx eslint --color

refactor: versioning untracked files
  .husky/commit-msg
  .husky/pre-commit
  src/modules/Login/view/login.hbs
  src/modules/Profile/view/Profile/Profile.hbs
  src/modules/Profile/view/Profile/Profile.scss
  src/modules/Profile/view/Profile/Profile.ts
  src/modules/Registration/view/registration.hbs
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

fix: change file case
  src/modules/Login/view/Login.hbs
Due: none

fix: change file case
  src/modules/Registration/view/Registration.hbs
Due: none

docs: изменить README.md
  README.md
Due: npx prettier --check --color

refactor: refactor after review
  src/helpers/block.ts
  src/modules/Profile/view/ProfileEdit/ProfileEdit.hbs
Due: npx prettier --check --color, npx eslint --color

feat: add helpers
  src/api/AuthAPI.ts
  src/api/BaseAPI.ts
  src/api/ChatsAPI.ts
  src/api/ProfileAPI.ts
  src/controllers/AuthController.ts
  src/controllers/ChatController.ts
  src/controllers/ProfileController.ts
  src/helpers/GetFormData.ts
  src/helpers/HTTPTransport.ts
  src/helpers/Router.ts
  src/helpers/Store.ts
  src/helpers/merge.ts
  src/helpers/set.ts
  src/helpers/withRouter.ts
Due: npx prettier --check --color, npx eslint --color

feat: add/refactor style
  src/modules/Chat/components/ChatMenuItem/ChatMenuItem.scss
  src/modules/Chat/components/ChatMessage/ChatMessage.scss
  src/modules/Chat/components/ChatModal/ChatModal.scss
  src/modules/Chat/components/ChatOptions/chatOptions.scss
  src/modules/Chat/view/Chats.scss
  src/modules/Login/view/Login.scss
  src/modules/UiKit/Button/Button.scss
  src/modules/UiKit/plug/404/404.scss
  static/icons/icon-dots.svg
Due: npx prettier --check --color, npx stylelint --color

feat: connect websocket, add image, integrate api
  .eslintrc.json
  main.js
  main.ts
  src/controllers/AuthController.ts
  src/helpers/EventBus.ts
  src/helpers/block.ts
  src/helpers/validation.ts
  src/modules/Chat/components/ChatMenuItem/ChatMenuItem.hbs
  src/modules/Chat/components/ChatMenuItem/ChatMenuItem.ts
  src/modules/Chat/components/ChatMessage/ChatMessage.hbs
  src/modules/Chat/components/ChatMessage/ChatMessage.ts
  src/modules/Chat/components/ChatModal/ChatModal.hbs
  src/modules/Chat/components/ChatModal/ChatModal.ts
  src/modules/Chat/components/ChatOptions/ChatOptions.ts
  src/modules/Chat/components/ChatOptions/chatOptions.hbs
  src/modules/Chat/view/Chat.hbs
  src/modules/Chat/view/Chat.ts
  src/modules/Login/view/Login.ts
  src/modules/Profile/components/ProfileRow/ProfileRow.hbs
  src/modules/Profile/components/ProfileRow/ProfileRow.ts
  src/modules/Profile/view/Profile/Profile.ts
  src/modules/Profile/view/ProfileEdit/ProfileEdit.ts
  src/modules/Profile/view/ProfileEditPassword/ProfileEditPassword.hbs
  src/modules/Profile/view/ProfileEditPassword/ProfileEditPassword.ts
  src/modules/Registration/view/Registration.hbs
  src/modules/Registration/view/Registration.ts
  src/modules/UiKit/Button/Button.hbs
  src/modules/UiKit/Button/Button.ts
  src/modules/UiKit/Input/Input.ts
  src/modules/UiKit/plug/404/404.ts
  static/index.html
Due: npx prettier --check --color, npx eslint --color

docs: update README.md
  README.md
Due: npx prettier --check --color

fix: fix wrong word
  src/modules/Login/view/Login.ts
Due: npx prettier --check --color, npx eslint --color

fix: fix errors after review
  main.ts
  src/Constants.ts
  src/api/BaseAPI.ts
  src/api/ChatsAPI.ts
  src/api/ProfileAPI.ts
  src/controllers/AuthController.ts
  src/controllers/ChatController.ts
  src/controllers/ProfileController.ts
  src/helpers/GetFormData.ts
  src/helpers/HTTPTransport.ts
  src/helpers/block.ts
  src/helpers/set.ts
  src/helpers/validation.ts
  src/modules/Chat/components/ChatMessage/ChatMessage.scss
  src/modules/Chat/components/ChatModal/ChatModal.hbs
  src/modules/Chat/components/ChatModal/ChatModal.ts
  src/modules/Chat/view/Chat.ts
  src/modules/Chat/view/Chats.scss
  src/modules/Login/view/Login.ts
  src/modules/Profile/components/ProfileRow/ProfileRow.ts
  src/modules/Profile/view/Profile/Profile.ts
  src/modules/Profile/view/ProfileEdit/ProfileEdit.hbs
  src/modules/Profile/view/ProfileEdit/ProfileEdit.ts
  src/modules/Profile/view/ProfileEditPassword/ProfileEditPassword.ts
Due: npx prettier --check --color, npx stylelint --color, npx eslint --color

feat: add tests + webpack
  .dockerignore
  .eslintrc.json
  .mocharc.json
  Dockerfile
  README.md
  heroku.yml
  main.ts
  mochaSetup.js
  package.json
  pnpm-lock.yaml
  src/api/BaseAPI.ts
  src/controllers/AuthController.ts
  src/controllers/ProfileController.ts
  src/helpers/HTTPTransport.test.ts
  src/helpers/HTTPTransport.ts
  src/helpers/Router.ts
  src/helpers/block.test.ts
  src/modules/Chat/components/ChatItem/ChatItem.ts
  src/modules/Chat/components/ChatMenuItem/ChatMenuItem.ts
  src/modules/Chat/components/ChatModal/ChatModal.ts
  src/modules/Chat/view/Chat.ts
  src/modules/Login/view/LoginModule.ts
  src/modules/Profile/components/ProfileRow/ProfileRow.ts
  src/modules/Profile/view/Profile/Profile.ts
  src/modules/Profile/view/ProfileEdit/ProfileEdit.ts
  src/modules/Profile/view/ProfileEditPassword/ProfileEditPassword.ts
  src/modules/Registration/view/RegistrationModule.ts
  src/modules/UiKit/Input/Input.ts
  src/modules/UiKit/plug/404/404.ts
  src/modules/UiKit/plug/500/500.ts
  static/index.html
  tsconfig.json
  webpack.config.js
Due: npx prettier --check --color, npx eslint --color

fix: fix errors after review
  .eslintrc.json
  .prettierrc
  heroku.yml
  main.ts
  package.json
  src/Constants.ts
  src/modules/Chat/view/Chat.ts
  webpack.config.js
Due: npx prettier --check --color, npx eslint --color

fix: fix errors after review
  package.json
Due: npx prettier --check --color

fix: fix errors after review
  server.js
Due: npx prettier --check --color, npx eslint --color

fix: fix errors after review
  README.md
Due: npx prettier --check --color

fix: fix errors after review
  package.json
  src/controllers/ChatController.ts
  src/modules/Chat/components/ChatItem/ChatItem.ts
  src/modules/Chat/view/Chat.ts
  webpack.config.js
Due: npx prettier --check --color, npx eslint --color

Path conditions:
  npx prettier --check --color: ((any of: *.{css,scss}) or (any of: *.{js,jsx,ts,tsx,vue,svelte})) or (any of: *.{json,md})
  npx stylelint --color: any of: *.{css,scss}
  npx eslint --color: any of: *.{js,jsx,ts,tsx,vue,svelte}
